.ant-slider-horizontal {
	font-family: 'IBM Plex Sans', sans-serif !important;
	height: 14px !important;
	padding-block: 5px !important;
}

.ant-slider-rail {
	height: 2px !important;
	background-color: rgba(107, 174, 214, 0.8) !important;
}

.ant-slider-track {
	height: 2px !important;
	background-color: #08519c !important;
}

.ant-slider-handle:after {
	box-shadow: 0 0 0 2px #08519c !important;
}

.ant-slider-mark {
	top: 14px !important;
}
.ant-slider-mark-text {
	color: #08519c !important;
}
.ant-slider-with-marks {
	margin-bottom: 11px !important;
}
